- PCS_URL = 'https://pcs.slimeoj.online/'
- 
  var Author = {
    name:'Rainboy',
    link:'https://rainboy.gitee.io/resume'
  }
  var siteName = "ROJ"
  var siteName_Full = "R Online Judge"

  //-do not change it 
  var OJ_INFO = {
    repositories:"https://github.com/rainboyOJ",
    name:'rainboyOJ'
  }

  //link use local
  var layui = {
    css:"/layui/css/layui.css",
    script:"/layui/layui.js"
  }
  var videoBackground = {
    mp4:"/video/war3-background.mp4",
    webm:"/video/war3-background.mp3",
  }

  var jquery    = "/script/jquery.min.js"
  var axios_cdn = "/script/axios.min.js"
  var mathjax   = "/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"

  var prism = {
    css: "/prism/themes/prism-tomorrow.min.css",
  }

  var codemirror = {
    script:"/CodeMirror/codemirror.js",
    theme: "/CodeMirror/theme/blackboard.css",
    css: "/CodeMirror/lib/codemirror.css",
    languages:[
      "/CodeMirror/mode/clike/clike.js",
      "/CodeMirror/mode/python/python.js",
      "/CodeMirror/mode/markdown/markdown.js"
    ]
  }

  ali_icon="/font/iconfont.css"
  if( USE_CDN) {
      //link use CDN

      layui = {
        css:"https://www.layuicdn.com/layui-v2.5.6/css/layui.css",
        script:"https://www.layuicdn.com/layui/layui.js"
      }
      videoBackground = {
        mp4:"https://blz.nosdn.127.net/1/war3-website/home/FZC2VPOT8CO81540844823008.mp4",
        webm:"https://blz.nosdn.127.net/1/war3-website/home/L4U6SWB7AMRS1540660275882.webm",
      }

      jquery    = "https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"
      axios_cdn = "https://cdn.staticfile.org/axios/0.20.0/axios.min.js"
      mathjax   = "https://cdn.bootcss.com/mathjax/2.7.6/MathJax.js?config=TeX-MML-AM_CHTML"

      var prism = {
        css: "https://cdn.bootcdn.net/ajax/libs/prism/1.9.0/themes/prism-tomorrow.min.css"
      }

      var codemirror = {
        script:"https://cdn.bootcdn.net/ajax/libs/codemirror/5.57.0/codemirror.js",
        theme: "https://cdn.bootcdn.net/ajax/libs/codemirror/5.57.0/theme/blackboard.min.css",
        css: "https://cdn.bootcdn.net/ajax/libs/codemirror/5.57.0/codemirror.css",
        languages:[
          "https://cdn.bootcdn.net/ajax/libs/codemirror/5.57.0/mode/clike/clike.min.js",
          "https://cdn.bootcdn.net/ajax/libs/codemirror/5.57.0/mode/python/python.min.js",
          "https://cdn.bootcdn.net/ajax/libs/codemirror/5.57.0/mode/markdown/markdown.min.js"
        ]
      }
      ali_icon="https://at.alicdn.com/t/font_963457_qux2uipb04i.css"
  }
