- 
  var Author = {
    name:'Rainboy',
    link:'#'
  }
  var siteName = "WARIII OJ"
  var siteName_Full = "WARIII Online Judge"

  //-do not change it 
  var OJ_INFO = {
    repositories:"https://github.com/wariii-online-judge",
    name:'WAR3 OJ'
  }

  //link
  var jquery = "https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"
