div.nav-panel
  a.link-brand(href="/",title="返回首页")
   include ../component/brandLogo.pug
  div.nav-item-cantainer
    div.problem-jump
      input#problem-search-and-jump(type="text")
      label
        i.layui-icon.layui-icon-search
    include ./nav.pug
