- 
  var menuList = [
    ['problem','iconfont-iconmaineditkaobei','/problems'],
    ['rank','icon_paihang-xian','/ranklist'],
    ['bbs','bbs','/bbs'],
    ['SUB','tijiao','/submissions'],
  ];
  var subMenuList = [
    ['tags','biaoqian','javascript:return false;',1],
    ['battle','zhandouzuozhan','javascript:return false;',1],
    ['random','bisai','javascript:return false;',1],
    ['task','bisai','javascript:return false;',1],
    ['contest','bisai','/contest'],
    ['help','bangzhu','/help',0],
  ]
include ../component/ali_icon.pug
include ../component/layui-icon.pug
mixin navItem(L)
  li.layui-nav-item
    a(href=L[2])
      +Icon(L[1])
      = L[0]
ul.layui-nav
  each L in menuList
    +navItem(L)
  li.layui-nav-item
    a(href="javascript:;")
      +Icon('zengqiang')
      | other
    dl.layui-nav-child
      each L in subMenuList
        dd
          a(href=L[2],style={opacity: L[3] ? 0.2 : 1})
            +Icon(L[1])
            = L[0]
  li.layui-nav-item
    a(href="javascript:;")
      img.layui-nav-img(src= email2avatar(email))
    dl.layui-nav-child
      dd
        a(href="javascript:return false;",style={opacity:0.2}) #{realname}
      dd
        a(href="/userinfo") info
      dd
        a(href="/logout") logout
