include ../../global-config.pug
doctype html
html
    head
        title #{title || siteName}
        include ../head/head.pug
        block head
    body
      block content
      script(src=jquery)
      script(src=axios_cdn)
      script(src=layui.script)
      script.
          layui.config({ base: '/js/' })
      block layout_app_script
      block script
