extends ../_partical/layout/layout.pug
include ../_partical/card/card.pug
include ../_partical/component/ali_icon.pug
block content
  include ../_partical/nav/nav-panel.pug
  include ../_partical/component/main-background.pug
  //-include ../login/login-video-background.pug
  div.layui-container
    div.layui-row.layui-col-space10
      div.layui-col-md12.layui-col-sm12
        div.main
          block main
            +Card
              block main_board
  include ../_partical/footer/footer.pug
block layout_app_script
  script.
    layui.use('element')
block script
  block script_main_board
