extends layout.pug
block content
  include ../nav/nav-panel.pug
  include ../component/main-background.pug
  //-include ../login/login-video-background.pug
  div.layui-container
    div.layui-row.layui-col-space10
      div.layui-col-md9.layui-col-sm9
        div.main
          block main
      div.layui-col-md3.layui-col-sm3
        div.slide
          block slide
  include ../footer/footer.pug
block layout_app_script
  script.
    layui.use('element')
