include ../card/card.pug
include ../component/tooltip.pug
+Card('标签','biaoqian')
  .problem-tag.smallTooltip
    details
      summary 展开
      each tag in problem.tags
        a(href="#")
          +tooltip(tag)
