@import "./color.scss";
@import "./variable.scss";
@import "./login.scss";
@import "./nav.scss";
@import "./card.scss";
@import "./problem.scss";
@import "./icon.scss"; @import "./brandLogo.scss";
@import "./font.scss";
@import "./main-background.scss";
@import "./userinfo.scss";
@import "./footer.scss";
@import "./icon-avatar.scss";
@import "./tableList.scss";
@import "./pagenation.scss";
@import "./sub.scss";

body {
    background: #9c8491;
}

.layui-container {
    margin-top:30px;
    margin-bottom:30px;
}
.main {
}

.slide {
}
.layui-table-view
{
    .layui-table-page{
        background-color: #fff;
    }
}
.subCode{
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
        .CodeMirror-code {
            min-height: 300px;
        }
    }
}

.war3-blue-button {
    display: inline-block;
    position: relative;
    background-color: #0e86ca;
    border: solid 1px #00aeff;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    padding: 10px 50px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    outline: 0;
    overflow: visible;
    max-width: 100%;
    transition: color .2s,background-color .2s,border-color .2s;
}

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
	margin-right:20px ;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.label-name,.switch-field label {
    display: inline-block;
    box-sizing:border-box;
    height: 38px;
    padding: 10px 10px;
    background-color: #e4e4e4;
    //background-color: 
    //background-image: linear-gradient(rgba(255,255,0,.2) 50%,transparent 0),linear-gradient(#e4e4e4,#dca60d);
	color: rgba(0, 0, 0, 0.6);
	font-size: 16px;
	line-height: 1;
	text-align: center;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	//background-color: #a5dc86;
    background-image: linear-gradient(rgba(255,255,0,.2) 50%,transparent 0),linear-gradient(#ffd155,#dca60d);
	box-shadow: none;
}

//.switch-field label:first-of-type {
	//border-radius: 4px 0 0 4px;
//}

//.switch-field label:last-of-type {
	//border-radius: 0 4px 4px 0;
//}

/* This is just for CodePen. */

.subCode-form {
    display: flex;
	//max-width: 600px;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding: 16px;
	.right-button {
        margin-left:auto
	}
	.label-name {
	    background: transparent;
	    color: #fff;
	    font-weight: bolder;
	}
}

.smalldownload {
    padding: 5px 10px;
}

.CodeMirror-readonly .CodeMirror-cursor {
  display: none !important
}

.wc3-loading {
    z-index: 9999999;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    .bar {
        color:#fff;
    }
}

.tooltip td, .tooltip th {
    background: url(/images/tooltip.png);
    font-family: Verdana,open sans,Arial,helvetica neue,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
}
.tooltip {
    td {
        padding-top: 13px;
        padding-right: 6px;
        padding-bottom: 6px;
        padding-left: 13px;
        text-align: left;
        vertical-align: top;
    }
    th {
        padding: 3px;
    }

    .q {
        color: #ffd100!important;
        font-size:20px;
    }
}
.tooltip table, .tooltip td, .tooltip th, .tooltip tbody {
    border: 0!important;
}
.smallTooltip {
    .tooltip{

        td {
            padding-top: 8px;
            padding-right: 4px;
            padding-bottom: 1px;
            padding-left: 9px;
            text-align: left;
            vertical-align: top;
        }
        .q {
            font-size: 15px;
        }
    }


}
