$Blue: #2fb3ea;
$Blue2: #0096d9;
$Blue3: #094a67;
$slimeShadow: 1px 1px 1px rgba($color: $Blue, $alpha: 0.2);

//body 
$bodyBackground:#9c8491;


//nav-color
$navBackgroundColor: #002a32;
$navBrandTextColor: #00d6d6;
$navLinkTextColor: #00d6d6;
$navFontfamily: 'Bungee', cursive;
$navChildLink_Hover_BG: rgba($color: $Blue2, $alpha: 0.6);

//card
//$cardBackground: #2d2d2d;
$blue-palette-yellow:#FFCC99;
$blue-palette-gray:#666666;
$blue-palette-blue:#666699;
$cardBackground: rgba($color:$blue-palette-gray,$alpha:0.4);
//$cardBackground: #242424;
$cardHeadTextColor: #D5D4D4;
$cardBodyTextColor: #FFFFFF;
$cardBoardColor: rgba($color:$blue-palette-yellow,$alpha:0.2);

//icon
$iconBackground:#ffc33e;

//footer
$footerItemBackground:#303030;
$footerItemBorder:1px solid #231f20;
