$Blue: #2fb3ea;
$Blue2: #0096d9;
$Blue3: #094a67;
$slimeShadow: 1px 1px 1px rgba($color: $Blue, $alpha: 0.2);

//body 
$bodyBackground:#9c8491;


//nav-color
$navBackgroundColor: #002a32;
$navBrandTextColor: #00d6d6;
$navLinkTextColor: #00d6d6;
$navFontfamily: 'Bungee', cursive;
$navChildLink_Hover_BG: rgba($color: $Blue2, $alpha: 0.6);

//card
$cardBackground: #2d2d2d;
$cardHeadTextColor: #D5D4D4;
$cardBodyTextColor: #D5D4D4;

//icon
$iconBackground:#ffc33e;

//footer
$footerItemBackground:#303030;
$footerItemBorder:1px solid #231f20;
