$backgroundColor:rgba(255,255,255,0.1);
$backgroundColorHOVER:rgba(255,255,255,0.3);
.login-background {
    height: 200px;
    background:url("../images/background/war3-background.jpg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: -1;
    top:0;
}
.login-video-background {
    background-repeat: no-repeat;
    filter: blur(2px);
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: -1;
    top:0;
    video {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: fill;
    }
}

.login-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    .logo {
        //transform: translateY(-100px);
        margin:20px 0px;
        font-size: 2.5em;
        .oj-brand {
            img {
                height: 3em;
                width: 3em;
            }
            h2 {
                font-size: 2em;
                line-height: 2em;
            }
        }
    }
    $WIDTH:600px;

    .go-home-button {
        font-family: 'Bungee', cursive;
        font-weight: bolder;
        width: $WIDTH;
        margin-top: 10px;
        padding: 0 20px;
        display: inline-block;
        height: 38px;
        line-height: 38px;
        padding: 0 18px;
        background: $backgroundColor;
        color: $navBrandTextColor;
        white-space: nowrap;
        text-align: center;
        font-size: 1.1rem;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            background-color:$backgroundColorHOVER;
        }
    }
    .content-404 {
        display: flex;
        justify-content:center;
        font-size:1.1rem;
        font-family: 'Bungee', cursive;
        font-weight: bolder;
        color:#073707;
    }

    .login-title,.login-panel-child {
        background: $backgroundColor;
        color:#fff;
        padding: 20px;
        border-radius: 5px;
        width: $WIDTH;
    }

    .login-title {
            padding-top:5px;
            padding-bottom:5px;
        fieldset {
            border: none;
            padding: 0;
            border-top: 1px solid #eee;
            legend {
                padding: 0 10px;
                margin-left: 20px;
                font-size: 18px;
                font-weight: 300;
                font-family: 'Bungee', cursive;
                color:$navBrandTextColor;
            }
        }
        margin-bottom: 10px;
    }
    .login-panel-child {

        input ,.layui-form-switch,.layui-form-checkbox,textarea ,.layui-input{
            background: transparent;
            color:#fff;
        }
        .layui-form-checkbox {
            i {
                color: transparent;
            }
        }
        .layui-form-checked{
            i {
                color: #5fb878;
            }
        }
        .layui-form-label {
            background: rgba(0,0,0,.5);
        }
        .layui-anim {
            background:  rgba($color: $navBackgroundColor, $alpha: 0.9);
        }
        input::placeholder , .layui-word-aux {
            color: $navLinkTextColor !important;
        }

        .captcha {
            display: flex;
            align-items: center;
            .captcha-code {
                background: #fff;
            }
        }
    }
    span.message-info{
        margin-left: 10px;
        cursor: pointer;
        color:#999;
        &:hover {
            color:#fff;
        }
    }

}
.login-panel-for-userinfo {
    position: relative;
    .login-panel-child {
        width: 100%;
        background-color: transparent;
        .layui-form-label{
            background-color: rgba($color: #000, $alpha: 0.1);
            border:none;
            border-bottom:1px solid rgba($color: #fff, $alpha: 0.2);
        }
        input {
            border: none;
            font-size: 20px;
        }
        textarea {
            border-color: rgba($color: #000000, $alpha: 0.2);
        }
    }
}
