.main-background {
    //background: url($main-background);
    background: url($main-background);
    //background-repeat: repeat;
    //background-position: center;
    //background-size:100% 100%;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(2px);

    &:hover {
        filter: blur(0px);
    }
}
