$FONTCOLOR:#fff;
$borderColor:#4c4c4c;
.problem-show {
    .title {
        text-align: center;
        padding: 18px 0;
        border-bottom: 1px solid rgba($color:$borderColor,$alpha:0.6);
        text-shadow: 0 1px 1px #10141a, 0 1px 3px #10141a, 0 2px 5px #10141a;

    }
        .info-list {
            margin-bottom:20px;
            display: flex;
            align-items: center;
            ul {
                li {
                    display: inline-block;
                    margin-left: 10px;
                    &::before {
                        content:"\2022";
                        color: gray;
                        margin-right: 2px;
                    }
                }
            }
        }
    .markdown-body {
        color: $FONTCOLOR;
        h1,h2,h3,h4,h5,h6 {
            color: $FONTCOLOR;
        }
        h2 {
            border-color:rgba($color: $borderColor, $alpha: 0.5);
        }
        h2,h3{
            margin: 2.3rem 0 !important;
        }
        pre.language-text{
            div.line-numbers-wrapper{
                display: none;
            }
        }
    }

}
.subCode-control-panel {
    position: relative;
    .login-panel-child {
        width: 100%;
        background-color: transparent;
    }
}

.problem-info{
    .item {
        display: flex;
        justify-content: space-between;
        font-size:16px;
        margin: 10px 0;
        border-bottom: 1px solid rgba($color: $borderColor, $alpha: 0.5) ;
    }
}
.card-data-download {
    .card-body {
        padding: 0;
    }
}

