div.login-video-background
  video(loop="true" autoplay="autoplay" muted="muted")
    source(src="https://blz.nosdn.127.net/1/war3-website/home/FZC2VPOT8CO81540844823008.mp4")
    source(src="https://blz.nosdn.127.net/1/war3-website/home/L4U6SWB7AMRS1540660275882.webm")


