form.layui-form(action='').layui-form-pane
  .layui-form-item
    label.layui-form-label 帐号
    .layui-input-block
      input.layui-input(type='text' name='title' required='' lay-verify='required' placeholder='请输入标题' autocomplete='off')
  .layui-form-item
    label.layui-form-label 密码
    .layui-input-block
      input.layui-input(type='password' name='password' required='' lay-verify='required' placeholder='请输入密码' autocomplete='off')
  include ./captcha.pug
  .layui-form-item
    .layui-input-block
      button.layui-btn(lay-submit='' lay-filter='formDemo') 提交
      a.layui-btn.layui-btn-primary(href=jump) 注册
      span.message-info 忘记密码联系请管理员
