include ../component/ali_icon.pug
mixin Card(title,icon)
  .card(class!=attributes.class)
    if title
      .card-header
        if icon
          +Icon(icon)
          h3= title
    .card-body
      block

