.login-background {
  height: 200px;
  background: url("../images/background/war3-background.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: -1;
  top: 0; }

.login-video-background {
  background-repeat: no-repeat;
  filter: blur(2px);
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: -1;
  top: 0; }
  .login-video-background video {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: fill; }

.login-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  flex-direction: column; }
  .login-panel .logo {
    margin: 20px 0px;
    font-size: 2.5em; }
    .login-panel .logo .oj-brand img {
      height: 3em;
      width: 3em; }
    .login-panel .logo .oj-brand h2 {
      font-size: 2em;
      line-height: 2em; }
  .login-panel .go-home-button {
    font-family: 'Bungee', cursive;
    font-weight: bolder;
    width: 600px;
    margin-top: 10px;
    padding: 0 20px;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background: rgba(255, 255, 255, 0.1);
    color: #00d6d6;
    white-space: nowrap;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 2px;
    cursor: pointer; }
    .login-panel .go-home-button:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .login-panel .content-404 {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Bungee', cursive;
    font-weight: bolder;
    color: #073707; }
  .login-panel .login-title, .login-panel .login-panel-child {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 600px; }
  .login-panel .login-title {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px; }
    .login-panel .login-title fieldset {
      border: none;
      padding: 0;
      border-top: 1px solid #eee; }
      .login-panel .login-title fieldset legend {
        padding: 0 10px;
        margin-left: 20px;
        font-size: 18px;
        font-weight: 300;
        font-family: 'Bungee', cursive;
        color: #00d6d6; }
  .login-panel .login-panel-child input, .login-panel .login-panel-child .layui-form-switch, .login-panel .login-panel-child .layui-form-checkbox, .login-panel .login-panel-child textarea, .login-panel .login-panel-child .layui-input {
    background: transparent;
    color: #fff; }
  .login-panel .login-panel-child .layui-form-checkbox i {
    color: transparent; }
  .login-panel .login-panel-child .layui-form-checked i {
    color: #5fb878; }
  .login-panel .login-panel-child .layui-form-label {
    background: rgba(0, 0, 0, 0.5); }
  .login-panel .login-panel-child .layui-anim {
    background: rgba(0, 42, 50, 0.9); }
  .login-panel .login-panel-child input::placeholder, .login-panel .login-panel-child .layui-word-aux {
    color: #00d6d6 !important; }
  .login-panel .login-panel-child .captcha {
    display: flex;
    align-items: center; }
    .login-panel .login-panel-child .captcha .captcha-code {
      background: #fff; }
  .login-panel span.message-info {
    margin-left: 10px;
    cursor: pointer;
    color: #999; }
    .login-panel span.message-info:hover {
      color: #fff; }

.login-panel-for-userinfo {
  position: relative; }
  .login-panel-for-userinfo .login-panel-child {
    width: 100%;
    background-color: transparent; }
    .login-panel-for-userinfo .login-panel-child .layui-form-label {
      background-color: rgba(0, 0, 0, 0.1);
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .login-panel-for-userinfo .login-panel-child input {
      border: none;
      font-size: 20px; }
    .login-panel-for-userinfo .login-panel-child textarea {
      border-color: rgba(0, 0, 0, 0.2); }

.nav-panel {
  background: #002a32;
  border-bottom: 1px solid rgba(47, 179, 234, 0.3);
  box-shadow: 1px 1px 1px rgba(47, 179, 234, 0.2);
  display: flex;
  padding: 0 50px;
  justify-content: space-between; }
  .nav-panel .layui-nav {
    background: transparent;
    text-align: right;
    border-radius: 0; }
    .nav-panel .layui-nav a {
      font-family: "Bungee", cursive;
      color: #00d6d6; }
    .nav-panel .layui-nav .layui-nav-child {
      border: none;
      background: #002a32; }
      .nav-panel .layui-nav .layui-nav-child dd > a {
        font-family: "Bungee", cursive;
        color: #00d6d6; }
        .nav-panel .layui-nav .layui-nav-child dd > a:hover {
          background: rgba(0, 150, 217, 0.6); }
  .nav-panel a {
    display: flex; }
    .nav-panel a .oj-brand {
      padding-left: 20px; }
  .nav-panel .layui-nav-item a {
    font-size: 1rem; }
    .nav-panel .layui-nav-item a .layui-icon {
      transition: transform 0.5s ease; }
    .nav-panel .layui-nav-item a:hover .layui-icon {
      display: inline-block;
      transform: rotate(180deg); }
    .nav-panel .layui-nav-item a span {
      margin-right: 5px; }
    .nav-panel .layui-nav-item a:hover {
      color: #2fb3ea; }
    .nav-panel .layui-nav-item a .layui-nav-img {
      border-radius: 0; }

.card {
  background: rgba(102, 102, 102, 0.4);
  border: 1px solid;
  border-color: rgba(255, 204, 153, 0.2);
  box-shadow: 1px 1px 1px rgba(47, 179, 234, 0.2);
  border-radius: 3px;
  margin-bottom: 10px; }
  .card .card-header {
    color: #D5D4D4;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(9, 74, 103, 0.3); }
    .card .card-header span {
      color: #d94020;
      margin-right: 5px;
      font-size: 1.1rem;
      background: #ffc33e;
      padding: 1px;
      border: 1px solid rgba(255, 204, 153, 0.2);
      border-radius: 2px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
    .card .card-header h3 {
      font-weight: 700;
      font-size: 1.1rem; }
  .card .card-body {
    color: #FFFFFF;
    padding: 20px; }

.problem-show .title {
  text-align: center;
  padding: 18px 0;
  border-bottom: 1px solid rgba(76, 76, 76, 0.6); }

.problem-show .markdown-body {
  color: #fff; }
  .problem-show .markdown-body h1, .problem-show .markdown-body h2, .problem-show .markdown-body h3, .problem-show .markdown-body h4, .problem-show .markdown-body h5, .problem-show .markdown-body h6 {
    color: #fff; }
  .problem-show .markdown-body h2 {
    border-color: rgba(76, 76, 76, 0.5); }
  .problem-show .markdown-body h2, .problem-show .markdown-body h3 {
    margin: 2.3rem 0 !important; }
  .problem-show .markdown-body pre.language-text div.line-numbers-wrapper {
    display: none; }

.subCode-control-panel {
  position: relative; }
  .subCode-control-panel .login-panel-child {
    width: 100%;
    background-color: transparent; }

.problem-info .item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 10px 0;
  border-bottom: 1px solid rgba(76, 76, 76, 0.5); }

.card-data-download .card-body {
  padding: 0; }

.slime-icon {
  display: inline-block; }

.slime-icon-normal {
  height: 50px;
  width: 50px; }

.slime-icon-small {
  height: 20px;
  width: 20px; }

.slime-icon-large {
  height: 75px;
  width: 75px; }

.oj-brand {
  display: flex;
  align-items: center;
  color: #00d6d6;
  text-shadow: -1px 0 rgba(9, 74, 103, 0.3), 0 1px rgba(9, 74, 103, 0.3), 1px 0 rgba(9, 74, 103, 0.3), 0 -1px rgba(9, 74, 103, 0.3), 4px 4px 5px rgba(0, 0, 0, 0.5); }
  .oj-brand img {
    height: 50px;
    width: 50px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7)); }
  .oj-brand h2 {
    font-family: 'Bungee', cursive;
    font-size: 35px;
    line-height: 50px;
    margin-left: 10px; }

/* vietnamese */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local("Bungee"), local("Bungee-Regular"), url(/font2/N0bU2SZBIuF2PU_0AnR1Gd8.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local("Bungee"), local("Bungee-Regular"), url(/font2/N0bU2SZBIuF2PU_0A3R1Gd8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local("Bungee"), local("Bungee-Regular"), url(/font2/N0bU2SZBIuF2PU_0DXR1.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url(/font2/KFOjCneDtsqEr0keqCMhbCc3CsTKlA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url(/font2/KFOjCneDtsqEr0keqCMhbCc-CsTKlA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url(/font2/KFOjCneDtsqEr0keqCMhbCc2CsTKlA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url(/font2/KFOjCneDtsqEr0keqCMhbCc5CsTKlA.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* latin-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url(/font2/KFOjCneDtsqEr0keqCMhbCc0CsTKlA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url(/font2/KFOjCneDtsqEr0keqCMhbCc6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.main-background {
  background: url("/images/background/background3.jpg");
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(2px); }
  .main-background:hover {
    filter: blur(0px); }

.userinfo-avatar {
  width: 100%; }
  .userinfo-avatar .card {
    border-radius: .4rem;
    overflow: hidden; }
    .userinfo-avatar .card .card-body {
      padding: 0; }
  .userinfo-avatar .avatar {
    width: 100%; }
    .userinfo-avatar .avatar img {
      max-width: 100%;
      max-height: 100%; }
  .userinfo-avatar .extra-content {
    padding: 1em;
    display: flex;
    font-weight: bolder;
    font-size: 0.7rem;
    align-items: center;
    justify-content: space-between; }
    .userinfo-avatar .extra-content .layui-icon {
      margin-right: 2px; }
    .userinfo-avatar .extra-content a {
      color: #fff; }

.footer-bar {
  background: #002a32;
  height: 25px;
  width: 100%;
  color: #00d6d6;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 99999; }
  .footer-bar .layui-container {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right; }
    .footer-bar .layui-container p {
      font-family: 'Ubuntu Mono', monospace;
      background: #303030;
      display: inline-block;
      border: 1px solid #231f20;
      padding: 3px 5px;
      margin: 0 20px; }
      .footer-bar .layui-container p span {
        margin-right: 5px; }
      .footer-bar .layui-container p a {
        color: #0096d9; }

.icon-cell {
  padding: 0;
  position: relative;
  text-align: center; }
  .icon-cell ins {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    z-index: 5; }
  .icon-cell del {
    display: block;
    background-repeat: no-repeat;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10; }
  .icon-cell a {
    display: block;
    left: 3px;
    position: absolute;
    top: 3px;
    z-index: 20; }
  .icon-cell .iconlarge ins {
    height: 36px;
    width: 36px;
    left: 6px;
    top: 6px;
    border-radius: 4px; }
  .icon-cell .iconlarge del {
    height: 44px;
    width: 44px;
    background-image: url(/images/border.png); }
  .icon-cell .iconmedium {
    height: 44px;
    width: 44px;
    position: relative;
    z-index: 0; }
    .icon-cell .iconmedium ins {
      height: 36px;
      width: 36px;
      left: 4px;
      top: 4px;
      border-radius: 4px; }
    .icon-cell .iconmedium del {
      height: 44px;
      width: 44px;
      background-image: url(/images/medium-border.png); }
    .icon-cell .iconmedium a {
      height: 38px;
      width: 38px;
      background: url(/images/medium-hilite-border.png) no-repeat 38px 0;
      background-image: url(/images/medium-hilite-border.png);
      background-position-x: 38px;
      background-position-y: 0px;
      background-repeat-x: no-repeat;
      background-repeat-y: no-repeat;
      border-radius: 4px !important; }
      .icon-cell .iconmedium a:hover {
        background-position: 0 0; }

.tableList {
  text: center;
  border-collapse: collapse;
  width: 100%; }
  .tableList thead {
    background: #161616; }
    .tableList thead tr th {
      padding: 5px 0; }
  .tableList tr {
    border-top: 1px solid #4c4c4c;
    height: auto; }
    .tableList tr td {
      font-size: 18px;
      padding: 5px 0;
      text-align: center; }
      .tableList tr td a {
        color: #fff; }
        .tableList tr td a:hover {
          color: rgba(255, 255, 255, 0.5); }

.pagenation {
  display: inline-flex;
  vertical-align: middle;
  border: 1px solid #b7a2a2;
  border-clip: border-box;
  overflow: hidden;
  border-radius: 4px 4px 4px 4px; }
  .pagenation a {
    font-weight: bolder;
    color: #eee;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    padding-top: 0.928571em;
    padding-right: 1.14286em;
    padding-bottom: 0.928571em;
    padding-left: 1.14286em;
    text-transform: none;
    font-weight: 400;
    -webkit-transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    border-right: 1px solid #b7a2a2;
    border-clip: border-box; }
    .pagenation a:last-child {
      border: none; }
    .pagenation a.active {
      background-color: #161616;
      color: #ffd100; }
    .pagenation a.disabled {
      color: #bbb; }

.code-container {
  position: relative; }
  .code-container a.code-copy-button {
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    cursor: pointer;
    z-index: 999; }
    .code-container a.code-copy-button:hover .tooltip .q {
      color: #997d00 !important; }
    .code-container a.code-copy-button:active {
      top: 12px; }
      .code-container a.code-copy-button:active .tooltip .q {
        color: #665400 !important;
        text-shadow: 0px 1px 0px #2f6627; }

body {
  background: #9c8491; }

.layui-container {
  margin-top: 30px;
  margin-bottom: 30px; }

.layui-table-view .layui-table-page {
  background-color: #fff; }

.subCode .CodeMirror {
  border: 1px solid #eee;
  height: auto; }
  .subCode .CodeMirror .CodeMirror-code {
    min-height: 300px; }

.war3-blue-button {
  display: inline-block;
  position: relative;
  background-color: #0e86ca;
  border: solid 1px #00aeff;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: 0;
  overflow: visible;
  max-width: 100%;
  transition: color .2s,background-color .2s,border-color .2s; }

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
  margin-right: 20px; }

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden; }

.label-name, .switch-field label {
  display: inline-block;
  box-sizing: border-box;
  height: 38px;
  padding: 10px 10px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 1;
  text-align: center;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out; }

.switch-field label:hover {
  cursor: pointer; }

.switch-field input:checked + label {
  background-image: linear-gradient(rgba(255, 255, 0, 0.2) 50%, transparent 0), linear-gradient(#ffd155, #dca60d);
  box-shadow: none; }

/* This is just for CodePen. */
.subCode-form {
  display: flex;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-weight: normal;
  line-height: 1.625;
  margin: 8px auto;
  padding: 16px; }
  .subCode-form .right-button {
    margin-left: auto; }
  .subCode-form .label-name {
    background: transparent;
    color: #fff;
    font-weight: bolder; }

.smalldownload {
  padding: 5px 10px; }

.CodeMirror-readonly .CodeMirror-cursor {
  display: none !important; }

.wc3-loading {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column; }
  .wc3-loading .bar {
    color: #fff; }

.tooltip td, .tooltip th {
  background: url(/images/tooltip.png);
  font-family: Verdana,open sans,Arial,helvetica neue,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #fff; }

.tooltip td {
  padding-top: 13px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  text-align: left;
  vertical-align: top; }

.tooltip th {
  padding: 3px; }

.tooltip .q {
  color: #ffd100 !important;
  font-size: 20px; }

.tooltip table, .tooltip td, .tooltip th, .tooltip tbody {
  border: 0 !important; }

.smallTooltip .tooltip td {
  padding-top: 8px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-left: 9px;
  text-align: left;
  vertical-align: top; }

.smallTooltip .tooltip .q {
  font-size: 15px; }
