.tags-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  padding-top: 10px; }
  .tags-grid a {
    width: unset;
    background-color: rgba(152, 23, 46, 0.2);
    color: #fff;
    border-color: #98172e;
    border: 1px solid #3b3b3b;
    border-radius: 4px;
    background-clip: padding-box;
    height: 40px;
    flex-grow: 1;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .tags-grid a:hover {
      color: #98172e; }
    .tags-grid a .mark {
      color: red;
      display: inline-block;
      background: yellow;
      margin-right: 20px;
      background-clip: border-box;
      padding: 0 5px; }
