.userinfo-avatar {
  width: 100%; }
  .userinfo-avatar .card {
    border-radius: .4rem;
    overflow: hidden; }
    .userinfo-avatar .card .card-body {
      padding: 0; }
  .userinfo-avatar .avatar {
    width: 100%; }
    .userinfo-avatar .avatar img {
      max-width: 100%;
      max-height: 100%; }
  .userinfo-avatar .extra-content {
    padding: 1em;
    display: flex;
    font-weight: bolder;
    font-size: 0.7rem;
    align-items: center;
    justify-content: space-between; }
    .userinfo-avatar .extra-content .layui-icon {
      margin-right: 2px; }
    .userinfo-avatar .extra-content a {
      color: #fff; }
