.war3Button {
  display: block;
  cursor: pointer;
  z-index: 999; }
  .war3Button:hover .tooltip .q {
    color: #997d00 !important; }
  .war3Button:active {
    transform: translateY(3px); }
    .war3Button:active .tooltip .q {
      color: #665400 !important;
      text-shadow: 0px 1px 0px #2f6627; }

.war3-blue-button {
  display: inline-block;
  position: relative;
  background-color: #0e86ca;
  border: solid 1px #00aeff;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: 0;
  overflow: visible;
  max-width: 100%;
  transition: color .2s,background-color .2s,border-color .2s; }

.war3-default-btn {
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: baseline;
  color: #fff;
  padding: 0 12px;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  border: none; }

.btn-fanbyte {
  background-color: #ea4c41; }

.btn-blizzard, .btn-blizzard[type] {
  background-color: #2980b9; }

.btn-blizzard.disabled {
  background-color: gray; }

.btn-margin-top {
  margin-top: 20px; }

.btn-red {
  background-color: #a71a19; }

.btn-none-border {
  border: none !important; }

.btn-green {
  background-color: #393; }

.btn-brown {
  background-color: #a5673f; }

.btn-orange {
  background-color: #21ba45; }

a.disabled {
  pointer-events: none;
  background-color: gray;
  color: #9b9b9b; }
