.wc3-loading#wc3-loading
  .bar
    .tooltip
      table
        tbody
          tr
            td
              span.q
                .no-wrap 评测中 
                  i.layui-icon.layui-icon-loading.layui-icon.layui-anim.layui-anim-rotate.layui-anim-loop
            th(style="background-position: right top;")
          tr
            th(style="background-position: left bottom;")
            th(style="background-position: right bottom;")
  .loading
    img(src="/images/book_loading.gif")
