extends ../_partical/layout/layout_app.pug
include ../_partical/card/card.pug
include ../_partical/component/ali_icon.pug
block main
  div
    +Card('天梯/前5','icon_paihang-xian')
      p Rainboy Made It
    +Card('用户最近7天的提交','zhaohuanshou2')
      p card body
      p= markdown
      p= markdown
    +Card('最新消息','bbs')
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
      p card body
block slide
  div
    +Card('题目跳转','tiaochu')
      p card body
      +Icon('renwu1')
      +Icon('zhaohuanshou2')
block script
  script.
    layui.use('http')
