extends ../_partical/layout/layout.pug
block content
  include ../_partical/login/login-video-background.pug
  //-include ./_partical/login-background.pug
  include ../_partical/login/login-panel.pug
block script
  script(src="/js/login-form.js")
