extends ../_partical/layout/layout_app.pug
include ../_partical/card/card.pug
block main
  include ../_partical/problem/content.pug
  include ../_partical/problem/subCode.pug
block slide
  include ../_partical/problem/info.pug
  include ../_partical/problem/tags.pug
