extends ../_partical/layout/layout.pug

block content
  include ../_partical/login/login-video-background.pug
  include ../_partical/login/reg-panel.pug
  script(src="/layui/layui.js")
  script(src="/js/login-form.js")
